//fonts
@font-face {
  font-family: 'raleway-regular';
  font-style: normal;
  font-display: swap;
  src: local('raleway-regular'),
    url('../fonts/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway-regular.woff') format('woff'),
    url('../fonts/raleway-regular.ttf') format('truetype'),
    url('../fonts/raleway-regular.eot') format('embedded-opentype');
}


@font-face {
  font-family: 'raleway-medium';
  font-style: normal;
  font-display: swap;
  src: local('raleway-medium'),
    url('../fonts/raleway-medium.woff2') format('woff2'),
    url('../fonts/raleway-medium.woff') format('woff'),
    url('../fonts/raleway-medium.ttf') format('truetype'),
    url('../fonts/raleway-medium.eot') format('embedded-opentype');

}

@font-face {
  font-family: 'raleway-semibold';
  font-style: normal;
  font-display: swap;
  src: local('raleway-semibold'),
    url('../fonts/raleway-semibold.woff2') format('woff2'),
    url('../fonts/raleway-semibold.woff') format('woff'),
    url('../fonts/raleway-semibold.ttf') format('truetype'),
    url('../fonts/raleway-semibold.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'raleway-black';
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/raleway-black.woff2') format('woff2'),
    url('../fonts/raleway-black.woff') format('woff'),
    url('../fonts/raleway-black.ttf') format('truetype'),
    url('../fonts/raleway-black.eot') format('embedded-opentype');
}


//font/typography customizations for various elements
body {
  @include bp-tablet {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }

  @include bp-desktop-md {
    font-size: 1.3rem;
    line-height: 2.1rem;
  }

  font-family: $font-regular;
  font-size: 1.05rem;
  color: $dark-font;
  line-height: 1.7rem;
  letter-spacing: .02rem;
  text-align: center;
}

h1 {
  @include bp-tablet {
    font-size: 2.5rem;
    margin: 5rem 0 1.5rem;
    line-height: 2.8rem;
  }

  @include bp-tablet-lg {
    font-size: 2.6rem;
  }

  @include bp-desktop-sm {
    font-size: 2.8rem;
    margin: 7rem 0 1.7rem 0;
  }

  @include bp-desktop-md {
    font-size: 3rem;
    margin: 9rem 0 2rem 0;
  }

  @include bp-desktop-lg {
    font-size: 3.3rem;
    margin: 11.5rem 0 3rem 0;
  }

  font-family: $font-bold;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.3rem;
  margin: 2.7rem 0 1rem;
}

h2 {
  @include bp-tablet {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2.3rem;
  }

  @include bp-tablet-lg {
    font-size: 2.1rem;
  }

  @include bp-desktop-md {
    font-size: 2.3rem;
    margin-bottom: 1.7rem;
  }

  @include bp-desktop-lg {
    font-size: 2.4rem;
    margin-bottom: 1.9rem;
    line-height: 2.35rem;
  }

  font-family: $font-semibold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-bottom: 1.2rem;
}

h3 {
  @include bp-tablet {
    font-size: 1.42rem;
    margin-bottom: 1.2rem;
  }

  @include bp-desktop-sm {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  font-family: $font-semibold;
  font-size: 1.21rem;
  line-height: 1.5rem;
  margin-bottom: .9rem;
}

h4 {
  @include bp-tablet {
    font-size: 1.22rem;
    line-height: 1.5rem;
    margin-bottom: .6rem;
  }

  @include bp-desktop-sm {
    font-size: 1.2rem;
  }

  font-family: $font-medium;
  font-size: 1.05rem;
  line-height: 1.4rem;
  color: $secondary-color;
  margin-bottom: .4rem;
}

h5 {
  @include bp-tablet {
    font-size: 1.4rem;
    line-height: 1.95rem;
  }

  @include bp-desktop-sm {
    margin-bottom: 10vh;
    line-height: 2rem;
  }

  @include bp-desktop-sm {
    font-family: $font-medium;
  }

  @include bp-desktop-md {
    line-height: 2rem;
    margin-bottom: 10vh;
  }

  @include bp-desktop-lg {
    font-size: 1.5rem;
    margin-bottom: 11vh;
  }

  font-family: $font-regular;
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 8vh;
}

.home-page__text-highlight {
  color: $secondary-color;
}

.light-text {
  @include bp-tablet {
    font-size: 1.15rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }

  @include bp-desktop-sm {
    font-family: $font-medium;
    font-size: 1.1rem;
    line-height: 1.65rem;
  }

  @include bp-desktop-md {
    margin-bottom: 2.5rem;
  }

  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1.7rem;
}

.small-text {
  @include bp-tablet {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }

  @include bp-desktop-sm {
    font-family: $font-medium;
    font-size: 1rem;
  }

  @include bp-desktop-md {
    margin-bottom: 2rem;
  }

  font-size: .9rem;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}