//color-variables
$primary-color: #fff;
$secondary-color: #8C43FF;
$dark-font: #293347;

//font-variables
$font-regular: 'raleway-regular';
$font-medium: 'raleway-medium';
$font-semibold: 'raleway-semibold';
$font-bold: 'raleway-black';

//breakpoint-variables
$tab: 550px;
$tab-lg: 850px;
$desktop-sm: 1024px;
$desktop-md: 1367px;
$desktop-lg: 1700px;